@using Apollo.FrontStore.Models.Customer;
@model ChangePasswordModel

<div id="account">
    <div class="container">
        <div class="row">
            @Html.Partial("_AccountTopMenu")

            <div class="col-xs-12">
                <h4>Password</h4>
            </div>

            <div class="col-xs-12 col-lg-6">
                <form action="@Url.RouteUrl("Account Change Password")" method="post">
                    @{
                        @Html.AntiForgeryToken()
                        var validationSummary = Html.ValidationSummary(true);
                        if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                        {
                            <div class="message-error alert alert-danger">@validationSummary</div>
                        }
                    }
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="myicon icon-pwd fa-fw" aria-hidden="true" title="Old password"></i></div>
                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @placeholder = "Old password" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="myicon icon-pwd fa-fw" aria-hidden="true" title="New password"></i></div>
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @placeholder = "New password" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="myicon icon-confirm-pwd fa-fw" aria-hidden="true" title="Confirm new password"></i></div>
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm new password" })
                        </div>
                    </div>

                    <div class="form-group col-lg-6 row">
                        <input type="submit" class="button" value="CHANGE PASSWORD" />
                    </div>                
                </form>
            </div>

            @Html.Partial("_AccountBottomMenu")
        </div>
    </div>
</div>
