@using Apollo.FrontStore.Models.Customer;
@using Apollo.Web.Framework;
@model ForgotPasswordModel

@{
    Html.AddTitleParts("Forgotten Password");
}

@{ Html.RenderPartial("_OfferStrips"); }

<div id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4>Forgotten Password</h4>
            </div>
            <div class="col-sm-4">
                <p>If you have forgotten your password, please enter your email below and we will have your password reset and emailed to you.</p>
                <div class="form">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <p class="text-danger warning">@ViewBag.ErrorMessage</p>
                    }

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)@Html.RequiredHint()
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>                        
                        <div class="form-group">
                            <button class="login" type="submit"><span class="glyphicon glyphicon-lock"></span>SUBMIT</button>
                        </div>                        
                    }
                </div>
            </div>            
        </div>
    </div>
</div>